.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #007BFF;
  color: white;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li {
  position: relative;
  margin-left: 20px;
}

.navbar .nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: block;
}

.navbar .nav-links li a:hover {
  background: #0056b3;
  color: #ffffff;
  text-decoration: none;
}


.navbar .nav-links .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .nav-links .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #007BFF;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;
}

.navbar .nav-links .dropdown-content li {
  margin: 0;
}

.navbar .nav-links .dropdown-content li a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  display: block;
}

.navbar .nav-links .dropdown-content li a:hover {
  background: #0056b3;
}
