
<div class="container">
    <h1>Quiz-Verwaltung</h1>
    <div class="row">
      <div class="card col-8 col-sm-5 m-3">
        <div class="card-body">
          <h5 class="card-title">Neues Quiz hinzufügen</h5>
          <p class="card-text">Erstelle dein eigenes Quiz und fordere andere heraus! Klicke hier, um ein neues Quiz zu erstellen und deine Fragen einzureichen.</p>
          <button class="btn btn-outline-success" routerLink="/add-quiz" >Erstellen</button>
        </div>
      </div>

      <div class="card col-8 col-sm-5 m-3">
        <div class="card-body">
          <h5 class="card-title">Quize bearbeiten</h5>
          <p class="card-text">Klicken Sie hier, um Quiz zu Bearbeitung oder Löschen.</p>
          <button class="btn btn-outline-warning" routerLink="/edit-delete-quiz" >Bearbeiten</button>
        </div>
      </div>
    </div>
</div>
